.ant-menu.ant-menu-dark.ant-menu-root.ant-menu-horizontal {
    display: flex;
    justify-content: center;
    padding: 1rem 0rem 1.5rem 0rem;
    margin-bottom: 2rem;
    background-color: #001529;
}

.ant-menu-item > a:before {
    min-width: 5rem;
}

.headerParentContainer > h1 {
    display: flex;
    justify-content: center;
    
    font-weight: bolder;
    font-family: 'Tangerine', serif;
    font-size: 8rem;
    margin: 1rem 0rem 1rem 0rem;

}

.ant-menu-dark.ant-menu-horizontal > .ant-menu-item, .ant-menu-dark.ant-menu-horizontal > .ant-menu-submenu {
    border-radius: 1.5rem;
}
