.header-style {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0rem 4rem 0rem;
    
    h1 {
        font-size: 200%;
        font-weight: bolder;
    }
}


.is-active {
    font-weight: bold;
}



