.homeSeriesFilterContainer {
    display: flex;
    flex-direction: column;
    align-content: center;

    input {
        align-self: flex-start;
        margin-left: 1.0rem;
        text-align: center;
        min-width: 33rem;
        margin: 0rem 2rem 0rem 2rem;
        height: 4rem;
    }


}

.homeSeriesFilterContainer > .homeSeriesFilterChildContainer {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    
    button {
        margin-left: 5rem;
    }
}

.searchbarInHome {
    max-width: 50rem;
}