.detailContainer{
    display: flex; 
    justify-content: center;
    align-content: center;
    align-items: center;
}

.modalElementsContainer {
    display: flex;
    flex-direction: column;

    h3 {
        align-self: center;
    }

    .ant-divider.ant-divider-vertical{
        height: 10rem;
        width: 0.1rem;
    }
}

.generalInfoModal{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.ant-modal {
    min-width: 100rem;
}


.creditsCastContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.keywordContainer {
    display: flex;
    flex-direction: row;
}