.homePageContainer {
    margin-bottom: 20rem;
}

.cardsContainer {
    display: flex;
    flex-direction: row;
    padding: 5rem;
    flex-wrap: wrap;
    justify-content: center;
}

// No cards found (=no series)
.cardsContainer > p {
    padding: 5rem 0 0 0;
    color: #8d8989;
}



.singleCard {
    padding: 5rem;
}

.ant-card.ant-card-bordered.ant-card-hoverable {
    min-width: 25rem;
    border-radius: 1rem;
}


//Limit lines in card description
.ant-card-meta-description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 10; // max no lines to show
    -webkit-box-orient: vertical;
}

.singleCardRemoveButton {
    display: flex;
    margin-top: 2rem;
    align-self: center;
}

.ant-card-meta-detail {
    cursor: pointer;
}