.homeSeriesFilterContainer {
    display: flex;
    flex-direction: column;
    align-content: center;

    input {
        align-self: flex-start;
        margin-left: 1.0rem;
        text-align: center;
        min-width: 33rem;
        margin: 0rem 2rem 0rem 2rem;
        height: 4rem;
    }


}

.homeSeriesFilterContainer > .homeSeriesFilterChildContainer {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    
    // Remove button
    .ant-btn.ant-btn-danger.ant-btn-background-ghost {
        margin-left: 5rem;
    }

    // Add button
    .ant-btn.ant-btn-default {
        margin-left: 2rem;
    }
}

.searchbarInHome {
    max-width: 50rem;
}

.chooseView {
    margin-right: 3rem;
}