.demo-infinite-container {
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    overflow: auto;
    padding: 8px 24px;
    height: inherit;
    margin: 5rem;
  }
  .demo-loading {
    position: absolute;
    bottom: -40px;
    left: 50%;
  }

  .ant-list {
    margin: 1rem;
  }

  .removeIconText {
    color: #ff0000bf;
  }

  .removeIconText:hover {
    color: #d10e0e;
  }