// Center
.notFoundPage {
    display: flex;
    flex-direction: row;
    padding: 8rem 0 0 0;
    justify-content: center;
    font-size: 1.8rem;
    font-style: italic;
    color: rgb(141, 137, 137);
}

