.tableContainer {
    padding: 5rem 0rem 0rem 0rem;
}

.tableContainer table {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
/* Move this to _listItem.css*/
// Label row
th {
    padding: 1rem 5rem 1rem 5rem;
}

tr:hover{
    background-color: #929fb5;
}

td {
    padding: 2.0rem 3rem 2rem 5rem;
}
/****************************/



// Label row = gray background
table tr:nth-child(1) {
    background: #ccc;
    
}

// table tr td:nth-child(1) {
//     padding: 0rem;
//     justify-content: center;
//     align-items: center;
// }

// 'Show' column
table tr td:nth-child(3) {
    max-width: 20rem;
    word-wrap: wrap;
}

// 'Rating' column
table tr td:nth-child(4) {
    max-width: 2rem;
}

// 'Rating' column
table tr td:nth-child(5) {
    max-width: 2rem;
}



.col-labels:hover {
    background-color: #6ead90;
}





/******************* antd STUFF *****************/

.custom-antd-table-container {
    margin: 10rem 7rem 0rem 7rem;
}

.expandedRowDetails{
    display: flex;
    flex-direction: row;
    .expandedRowDetails-inner {
        margin-left: 2rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;   
    }

}
