.cardsParentContainer {
    margin-top: 5rem;
}

.cardsContainer {
    display: flex;
    flex-direction: row;
    padding: 1rem 5rem 5rem 5rem;
    flex-wrap: wrap;
    justify-content: flex-start;

    // Center card image
    .ant-card-cover{
        display: flex;
        justify-content: center;
    }

    // Set appropriate width to img in card
    .ant-card-cover > img {
        width: 180px;
    }

    .ant-card-body {
        max-height: 26rem;
    }
}

// Error message when no cards/series found
.cardsContainer > p {
    color: #8d8989;
    margin-left: 5rem;
}

.singleCard {
    padding: 1rem 5rem 5rem 5rem;
}

.ant-card.ant-card-bordered.ant-card-hoverable {
    //min-width: 25rem;
    border-radius: 1rem;
}

.ant-card.ant-card-bordered {
    height: 60rem;
}

//Limit lines in card description
.ant-card-meta-description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 10; // max no lines to show
    -webkit-box-orient: vertical;
}

.singleCardRemoveButton {
    display: flex;
    margin-top: 2rem;
    align-self: center;
}

.ant-card-meta-detail {
    cursor: pointer;
}


.cardViewCollectionTitle {
    display: flex;
    padding-left: 10rem;
    align-items: baseline;

    button {
        margin: 0.6rem 0 0 1rem;
        background-color: white;
    }
}

