.homeSeriesFilterContainer {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-top: 3rem;

    input {
        align-self: flex-start;
        margin-left: 1.0rem;
        text-align: center;
        min-width: 33rem;
        margin: 0rem 2rem 0rem 2rem;
        height: 3.8rem;
    }


}

.homeSeriesFilterContainer > .homeSeriesFilterChildContainer {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    
    // Remove button
    .ant-btn.ant-btn-danger.ant-btn-background-ghost {
        margin-left: 5rem;
    }

    // Add button
    .ant-btn.ant-btn-default {
        margin-left: 5rem;
    }
}

.searchbarInHome {
    max-width: 50rem;
}

.chooseView {
    margin-right: 3rem;
}

.timeline {
    margin-right: 2rem;
}


.ant-collapse-borderless > .ant-collapse-item:last-child .ant-collapse-header {
    color: #1890ff;
}

.collapseableContent {
    display: flex;
    justify-content: space-evenly;

    .ant-select {
        margin-left: 2rem;
    }
}

.collapseableContent > .inputCreateCollection {
    max-height: 3.2rem;
}

// Input field for creating new collections
.inputCreateCollection {
    width: 20rem;
    height: 5rem;
    margin: 2rem 4rem 3rem 10rem;
}

i.anticon.anticon-question-circle {
    align-self: flex-end;
    margin-right: 2rem;
}

i.anticon.anticon-question-circle:hover {
    cursor: pointer;
}

// .ant-select-selection--multiple {
//     display: flex;
//     min-height: 32px;
//     /* cursor: text; */
//     /* padding-bottom: 5px; */
//     zoom: 1;
//     height: 50px;
//     /* overflow: scroll; */
//     overflow-x: auto;
//     overflow-y: hidden;
// }