// When no image has been uploaded
.ant-upload.ant-upload-select-picture-card {
    width: 200px;
    height: 200px;
}

// When there is an image
.ant-upload-list-picture-card .ant-upload-list-item {
    width: 200px;
    height: 200px;
}