.calendarAutoAddParentContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.calendarCreateButton-AutoMode {
    display: flex;
    justify-content: flex-end;
    margin-top: 2.5rem;
    margin-right: 1rem;
}