/******************* antd STUFF *****************/

.antdTableContainer {
    margin: 3rem 7rem 0rem 7rem;
}

.expandedRowDetails{
    display: flex;
    flex-direction: row;
    .expandedRowDetails-inner {
        margin-left: 2rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;   
    }
}

.expandedRowDetails-double-inner{
    flex-direction: row;
  
}

.dataNotAvailable {
    font-style: italic;
}